/* ===== INDEX ==================================================================== */

@import url("https://fonts.googleapis.com/css?family=Unbounded|Didact+Gothic:wght@400;600&subset=latin,latin-ext");

body {
	--main: #2e29365c;
	--accent: #ffffff;
	--dark: #181620;
	--bronze: #f4a460;
	--silver: #f7fdff;
	--gold: #fdd45f;
	--shadow: 14px 14px 0px -4px #4c4c45;
	--filter-bronze: invert(81%) sepia(76%) saturate(3751%) hue-rotate(313deg) brightness(97%) contrast(98%);
	--filter-silver: invert(100%) sepia(11%) saturate(3879%) hue-rotate(176deg) brightness(100%) contrast(105%);
	--filter-gold: invert(89%) sepia(59%) saturate(3802%) hue-rotate(313deg) brightness(108%) contrast(98%);
	--filter-fallback: invert(75%) sepia(9%) saturate(389%) hue-rotate(140deg) brightness(91%) contrast(91%);
	--unbounded: "Unbounded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	--didact-gothic: "Didact Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-family: ;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	color: var(--accent);
	background: #2c5364;
	background: -webkit-linear-gradient(to bottom, #2c5364 0%, #203a43 70%, #0f2027 100%);
	background: linear-gradient(to bottom, #2c5364 0%, #203a43 70%, #0f2027 100%);
	overflow: hidden;
}

body, input::placeholder {
	font-size: 1rem;
	font-family: var(--didact-gothic);
}

button {
	cursor: pointer;
}

.a11y {
    position: absolute;
	top: -200dvh;
	left: -200dvw;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #5b718486;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #60b8ffab;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
    margin: 12px 0 38px;
}

::-webkit-scrollbar-track:hover {
	background: #6e6e6e86;
	width: 6px;
}

.welcome {
    position: fixed;
    top: 0;
	display: grid;
	align-items: center;
	grid-template-columns: minmax(50px, 1fr) minmax(230px, 840px) minmax(50px, 1fr);
	background: black;
	z-index: 30;
}

.welcome.is-active {
	animation: 1.25s fade-in cubic-bezier(.46,.03,.52,.96) reverse forwards;
}

.welcome__title {
	margin: 42px;
	z-index: 30;
	grid-column: 1 / span 3;
	grid-row: 1;
	position: relative;
	align-self: flex-start;
	animation: 4.5s fade-in cubic-bezier(.46,.03,.52,.96) forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.welcome__title img {
    width: 30px;
    margin: 0 10px -5px 0;
}

.welcome__container {
	transform: scale(.85);
	opacity: 0;
	grid-column: 2;
	grid-row: 1;
	display: grid;
	animation: 4s scale-up--fade-in cubic-bezier(.46,.03,.52,.96) forwards;
}

@keyframes scale-up--fade-in {
	0%, 10% {
		transform: scale(.85);
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.welcome__subtitle,
.welcome__text {
	margin: 0 auto 20px;
	text-align: center;
}

.welcome__subtitle {
	font-size: 1.25rem;
	line-height: 2rem;
}

.welcome__text {
	line-height: 1.5rem;
	max-width: 450px;
}

.welcome__noscript-link {
	color: #f89c0b;
	text-decoration: underline;
	position: relative;
	text-decoration-thickness: 2px;
  	text-underline-offset: 4px;
}

.btn--welcome {
	justify-self: center;
	font-size: .9375rem;
	font-family: var(--unbounded);
	padding: .875rem 2.25rem;
	letter-spacing: 2px;
}

.btn--welcome.has-faded-in {
	opacity: 0;
	animation: 1.5s fade-in 3s cubic-bezier(.46,.03,.52,.96) forwards;
}

.btn--welcome.has-faded-out,
.welcome__container p.has-faded-out {
	animation: .375s fade-out cubic-bezier(.46,.03,.52,.96) forwards;
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fog__section {
	position: relative;
	opacity: 0;
	height: 100dvh;
	width: 100dvw;
	grid-column: 1 / span 3;
	grid-row: 1;
	animation: 3s fade-in cubic-bezier(.46,.03,.52,.96) forwards;
}

.fog__container {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.fog {
	position: absolute;
	height: 100dvh;
	width: 300dvw;
}

.fog--one {
	background: url("./img/fog1.png") repeat-x;
	background-position: center;
	background-size: cover;
	animation: fog 120s linear infinite;
}

.fog--two {
	background: url("./img/fog2.png") repeat-x;
	background-position: center;
	background-size: cover;
	animation: fog 80s linear infinite;
}

@keyframes fog {
	0% { 
		transform: translate3d(0, 0, 0);
	}
	100% { 
		transform: translate3d(-200vw, 0, 0);
	}
}

/* ––——– INDEX –– MEDIA QUERIES ——————————————————————————————————————————————————— */

@media screen and (min-width: 809px) {
	.welcome__text {
		font-size: 1.125rem;
		line-height: 1.875rem;
	}

	.welcome__subtitle {
		font-size: 1.5rem;
	}

	.fog--one {
		animation: fog 240s linear infinite;
	}

	.fog--two {
		animation: fog 160s linear infinite;
	}

	@media (max-width: 1023px) and ((orientation: portrait) or ((min-width: 843px) and (max-width: 925px) and (orientation: landscape))) {
		.welcome__text {
			max-width: 498px;
		}
	}
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 1365px) {
	body {
		overflow: initial;
	}

	.body--overflow {
		overflow: hidden;
	}

	.welcome__title {
		margin: 20px;
	}

	.welcome__container {
		margin-top: 2rem;
	}
}

@media screen and (min-width: 1023px) {
	.welcome__text {
		max-width: inherit;
	}

	@media ((orientation: landscape) and (hover: none)) {
		.welcome__title {
			margin: 42px;
		}
	
		.welcome__container {
			margin-top: 0;
		}
	}
}

@media screen and (hover: hover) {
	.welcome__noscript-link {
		transition: .3s color cubic-bezier(.46,.03,.52,.96);
		color: var(--accent);
		text-decoration: none;
	}

	.welcome__noscript-link:hover {
		color: #f89c0b;
	}

	.welcome__noscript-link:after {
		display: inline-block;
		position: absolute;
		content: "";
		padding: 0 2px;
		width: 37%;
		transition: .3s width cubic-bezier(.46,.03,.52,.96);
		height: 2px;
		background-color: #f89c0b;
		bottom: -4px;
		left: 0;
	}

	.welcome__noscript-link:hover:after {
		width: calc(100% - 4px);
	}
}

@media screen and (((max-width: 1279px) and (orientation: portrait)) or ((min-width: 1079px) and (orientation: landscape)) or (min-width: 1365px)) {
	html {
		overflow: hidden
	}
}