.about {
	position: absolute;
	height: 100dvh;
	z-index: 40;
	left: -100dvw;
	width: 100dvw;
	transition: left 1.125s cubic-bezier(.46,.03,.52,.96);
	background: linear-gradient(-12deg, #2C5364, #2C5364 10%, #15222ffc 45%, #15222ffc 50%, #15222ffc 55%, #2C5364 90%, #2C5364);
}

.about.is-active {
    left: 0;
}

.about__wrapper {
	padding: 25px;
	height: calc(100% - 50px);
	display: grid;
	font-size: .875rem;
	line-height: 1.275rem;
	overflow-y: scroll;
	scrollbar-color: #6c7f97 var(--btn-bg);
}

.about__title {
	margin: 1.75rem 0;
	text-align: center;
	font-size: 1.0625rem;
	font-family: "Unbounded";
}

.about__title--mt {
	margin-top: 0;
}

.about__welcome {
	text-align: center;
	margin: -25px 0 5px;
}

.about__p {
	margin: 0;
}

.about__p + .about__p {
	margin-top: .5rem;
}

.about__bold {
	color: var(--gold);
}

.about__control {
	display: grid;
	grid-template-columns: 30px 1fr;
	align-items: center;
	margin: .25rem 0;
}

.about__icon-loose {
    filter: var(--filter-bronze);
}

.about__icon-cib {
    filter: var(--filter-silver);
}

.about__icon-newg {
    filter: var(--filter-gold);
}

.about__footer {
	display: flex;
	justify-content: space-between;
	padding-top: 1.875rem;
}

.about__divider::before {
	content: "|";
}

.about__link {
	color: var(--accent);
	position: relative;
	top: -2px;
	text-underline-offset: 2px;
}

@media screen and (min-width: 809px) {
	.about {
		width: 429px;
		left: -430px;
		border-right: 1px solid var(--btn-bg);
	}

	.about__wrapper {
		padding: 35px;
		height: calc(100% - 70px);
		font-size: 1rem;
		line-height: 1.4rem;
	}

	.about__title {
		font-size: 1.25rem;
	}

	.about__control {
		margin: .875rem 0;
	}
}

@media screen and (orientation: landscape) and (hover: none) {
	.about__footer {
		justify-content: center;
		gap: 1rem;
	}

	@media (max-width: 1079px) {
		.about {
			height: 200dvh;
			overscroll-behavior: none;
			background: radial-gradient(#1b2c3e, #2C5364 70%, #2C5364);
		}

		.about.is-active {
			height: auto;
		}
	}

	@media (min-width: 843px) and (max-width: 1079px) {
		.about {
			width: 100dvw;
			left: -100dvw;
			border: none;
		}

		.about__wrapper {
			padding: 25px 60px;
			height: calc(100% - 50px);
		}
	}
}

@media screen and (min-width: 1225px) and (hover: hover) and (max-height: 720px) and (max-width: 1545px) {
	.about {
		width: 349px;
	}

	.about__wrapper {
		padding: 25px;
		height: calc(100% - 50px);
		font-size: .875rem;
	}
	
	.about__title {
		font-size: 1.0625rem;
	}
}