.add-game {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100dvh;
	z-index: 40;
	background-color: #131c21fc;
	transition: left 1.125s cubic-bezier(.46,.03,.52,.96);
	left: -110dvw;
	width: 100dvw;
	justify-content: center;
}

.add-game.is-active {
    left: 0;
}

.add-game__wrapper, 
.add-game__form {
	display: flex;
	flex-direction: column;
	width: 79dvw;
}
  
.add-game__title {
	font-size: 1.25rem;
	margin: 0 0 1.5rem;
	text-align: center;
	font-family: var(--unbounded);
}

.add-game__search {
	display: grid;
	grid-template-rows: .5fr 1fr;
	grid-template-columns: 2fr .5fr;
	width: 100%;
	margin-bottom: .25rem;
}


.add-game__search-label {
	margin-bottom: .25rem;
	text-align: center;
}

.add-game__search-input {
	color: var(--accent);
	background: transparent;
	font-size: 1rem;
	border: 1px solid #867fa6b5;
	padding: 4px 12px;
	text-align: center;
	transition: outline-color .2s cubic-bezier(.46,.03,.52,.96), border-color .2s cubic-bezier(.46,.03,.52,.96), border-radius .15s cubic-bezier(.46,.03,.52,.96);
	border-radius: 4px 0 0 4px;
	width: calc(100% - 24px);
	grid-column: 1;
	outline-offset: -3px;
}

.add-game__search-input::placeholder {
	font-size: 1rem;
}

.add-game__search-btn {
	border-radius: 0 4px 4px 0;
	height: 42px;
	padding-inline: 4px 0;
	margin: 0;
	outline-offset: -3px;
	overflow: hidden;
}

.add-game__search-icon {
	transform: rotateZ(100deg);
	display: block;
	font-size: 1.5rem;
}

.add-game__form-message {
	color: #f89c0b;
	transition: .5s opacity cubic-bezier(.46,.03,.52,.96);
	margin: 0;
	text-align: center;
	text-wrap: balance;
}

.add-game__form-message--success {
	color: #26e267;
}

.add-game__form-message.is-inactive {
	opacity: 0;
}

.add-game__output-container {
	position: relative;
    overflow-y: hidden;
}

.add-game__output-border {
	width: 97%;
	height: 1px;
}

.add-game__output-border--t-dashed {
	top: 0;
	position: absolute;
	border-top: 1px dashed #867fa6;
}

.add-game__output {
	display: grid;
	gap: .5rem;
	max-height: 40dvh;
 	overflow-y: scroll;
	padding-top: .5rem;
	position: relative;
}

.add-game__output-border--t-solid {
	top: 0;
	position: absolute;
	border-top: 1px solid #867fa6;
}

.add-game__output-option {
	display: flex;
	align-items: center;
}

.add-game__output-radio {
	height: 16px;
	width: 16px;
    min-width: 16px;
	margin-block: 0;
	margin-inline: 0 8px;
}

.add-game__output-border--b-solid {
	bottom: 0;
	position: relative;
	border-bottom: 1px solid #867fa6;
}

.add-game__output-border--b-dashed {
	bottom: 0;
	position: absolute;
	border-bottom: 1px dashed #867fa6;
}

.add-game__submit-btn {
	width: 230px;
	height: 42px;
	font-size: 1rem;
	margin: 1.25rem auto 0;
}

@media screen and ((min-width:1023px) or ((min-width: 809px) and (orientation: portrait))) {
	.add-game {
		width: 429px;
		left: -430px;
		border-right: 1px solid #867fa6b5;
	}

	.add-game__wrapper, 
	.add-game__form {
		width: 340px;
	}
	
	.add-game__title {
		font-size: 1.5rem;
	}

	.add-game__search-input {
		font-size: 1.125rem;
	}

	.add-game__output {
		max-height: 53dvh;
	}
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 1023px) {
	.add-game {
		width: 100dvw;
		left: -100dvw;
		border: none;
	}

	.add-game__title {
		font-size: 1.1875rem;
		margin-bottom: .375rem;
	}

	.add-game__form-message {
		margin-bottom: .5rem;
	}

	.add-game__output {
		max-height: 32dvh;
	}

	@media (min-width: 809px) {
		.add-game__form-message {
			margin-top: .5rem;
		}

		.add-game__output {
			max-height: 37dvh;
		}

		.add-game__submit-btn {
			margin-top: .875rem;
		}
	}

	@media (min-width: 925px) {
		.add-game__output {
			max-height: 41dvh;
		}
	}
}