.add-form-wrapper {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100dvh;
	z-index: 40;
	background-color: #131c21fc;
	padding: 0;
	transition: left 1.125s cubic-bezier(.46,.03,.52,.96);
	left: -110dvw;
	width: 100dvw;
	justify-content: center;
}

.add-form-wrapper.--active {
    left: 0;
}
  
.add-item .addgame-title {
	font-size: 1.25rem;
	margin: 2.5rem 0 1.5rem 0;
	text-align: center;
	font-family: "Unbounded";
}

.add-form {
	width: 65%;
}

.add-title--label {
	font-family: "Didact Gothic";
	margin-bottom: .25rem;
	grid-row: 1;
	grid-column: 1;
	text-align: center;
}

.add-item input {
	height: 32px;
	margin: 6px 0 12px 0;
	border-radius: 4px;
	color: var(--accent);
	background: transparent;    
	font-size: 1rem;
	transition: box-shadow .1s cubic-bezier(.46,.03,.52,.96), border-color .1s cubic-bezier(.46,.03,.52,.96);
	border: 1px solid #867fa6b5;
	padding: 4px 12px;
	text-align: center;
	transition: outline-color .2s cubic-bezier(.46,.03,.52,.96), border-color .2s cubic-bezier(.46,.03,.52,.96), border-radius .15s cubic-bezier(.46,.03,.52,.96);
	width: 204px;
}

.add-form .btn {
	padding: 4px 25px;
}

.add-item, 
.add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 280px;
}

.btn.btn-add-submit {
	width: 230px;
	height: 42px;
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 1.25rem auto 0;
}

.menu-img {
    width: 12px;
    height: 12px;
	margin-top: 4px;
    transition: transform 1.125s cubic-bezier(.46,.03,.52,.96);
    filter: invert(100%) sepia(1%) saturate(7482%) hue-rotate(296deg) brightness(109%) contrast(100%);
}

.menu-img.--active {
    transform: rotateZ(225deg);
}

.add-message {
	font-family: "Didact Gothic";
	color: #f89c0b;
	transition: .5s opacity cubic-bezier(.46,.03,.52,.96);
	margin-top: 1rem;
	margin-bottom: 0;
}

.add-message.success {
	color: #26e267;
}

.add-item input:focus-visible,
#search-input:focus-visible {
    border-color: transparent;
}

#add-game-title {
	border-radius: 4px 0 0 4px;
	width: calc(100% - 24px);
	grid-row: 2;
	grid-column: 1;
	margin: 0;
	outline-offset: -3px;
}

.btn.btn-add-search {
	border-radius: 0 4px 4px 0;
	height: 42px;
	grid-row: 2;
	grid-column: 2;
	padding: 0 0 0 4px;
	margin: 0;
	outline-offset: -3px;
}

.search-symbol {
	transform: rotateZ(100deg);
	display: block;
	font-size: 1.5rem;
	font-weight: 600;
}

.form-searchinput {
	display: grid;
	grid-template-rows: .5fr 1fr;
	grid-template-columns: 2fr .5fr;
	width: 100%;
	margin-bottom: 1.25rem;
}

.searchdata {
	display: grid;
	width: 100%;
	gap: .5rem;
	max-height: 40dvh;
 	overflow-y: scroll;
}

.searchdata-radio-wrapper {
	display: flex;
	align-items: center;
	font-family: "Didact Gothic";
	width: 100%;
}

.add-item input.searchdata-radio {
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0;
}

.searchdata-radio-wrapper {
	font-family: "Didact Gothic";
}

@media screen and (min-width: 809px) and (orientation: portrait), (hover: hover) {
	.add-form-wrapper {
		width: 429px;
		border-right: 1px solid #867fa6b5;
		left: -430px;
	}

	.add-item, 
	.add-form {
		width: 340px;
	}
	
	.add-item .addgame-title {
		font-size: 1.5rem;
	}

	.add-item input {
		font-size: 1.125rem;
	}

	.searchdata {
		max-height: 53dvh;
	}
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
	.add-item, .add-form {
		width: 100%;
		padding: 0 55px;
		max-width: 530px;
	}

	.add-item .addgame-title {
		margin-top: 1.25rem;
		margin-bottom: .75rem;
	}

	.searchdata {
		max-height: 30dvh;
	}

	.add-message {
		margin-top: .625rem;
	}

	@media screen and (809px <= width <= 1023px) {
		.searchdata {
			max-height: 39dvh;
		}
		
		.add-message {
			margin-top: .5rem;
		}
	}
}