.app {
    margin: 0;
    /* display: flex; */
    align-items: center;
    height: 100dvh;
    /* flex-direction: row; */
    display: grid;
    grid-template-rows: 187px calc(100dvh - 187px);
    opacity: 0;
}

.app.--active {
	animation: 1.175s fade-in .9s cubic-bezier(.46,.03,.52,.96) forwards;
}

.app.--info {
	max-width: 1520px;
    margin: 0 auto;
}

#main {
    height: calc(100% - 12px);
    width: auto;
    padding: 0 10px;
    top: -12px;
    position: relative;
}

@media screen and (min-width: 650px) {
    .app {
        grid-template-rows: 145px calc(100dvh - 145px);
    }
    #main {
        padding: 0 45px 0 39px;
    }
}

@media screen and (min-width: 1025px) {
    .app {
        /* grid-template-columns: 356px calc(100dvw - 357px); */
        grid-template-columns: max-content 1fr;
    }
    #main {
        grid-column: 2;
        grid-row: 2;
    }
}