.app {
    margin: 0;
    /* align-items: center; */
    height: 100dvh;
    display: block;
    grid-template-rows: 195px calc(100dvh - 195px);
    grid-template-columns: max-content 1fr;
    opacity: 0;
}

.app.--animated {
	animation: 1.175s fade-in .9s cubic-bezier(.46,.03,.52,.96) forwards;
}

.app.--active {
    display: grid;
	max-width: 1490px;
    margin: 0 auto;
}

#main {
    height: calc(100% - 12px);
    width: auto;
    padding: 0 10px;
    top: -12px;
    position: relative;
}

@media screen and (min-width: 809px) {
    .app {
        display: grid;
        grid-template-rows: 145px calc(100dvh - 145px);
    }
    
    .app.--active {
        max-width: none;
        margin: 0;
    }

    #main {
        grid-column: 2;
        grid-row: 2;
        padding: 0 45px 0 39px;
    }
}