.app {
    margin: 0;
    /* display: flex; */
    align-items: center;
    height: 100dvh;
    /* flex-direction: row; */
    display: grid;
    grid-template-rows: 187px calc(100dvh - 187px);
}

#main {
    height:100%;
    width: auto;
    padding: 0 10px;
}

@media screen and (min-width: 650px) {
    .app {
        grid-template-rows: 130px calc(100dvh - 130px);
    }
    #main {
        padding: 0 45px 0 39px;
    }
}

@media screen and (min-width: 1025px) {
    .app {
        grid-template-columns: 356px calc(100dvw - 357px);
    }
    #main {
        grid-column: 2;
        grid-row: 2;
    }
}