.app {
    display: grid;
    grid-template-rows: 180px calc(100dvh - 180px);
    height: 100dvh;
    margin: 0;
    opacity: 0;
}

.app.has-faded-in {
	animation: 1.175s fade-in .9s cubic-bezier(.46,.03,.52,.96) forwards;
}

.main {
    height: 100%;
    padding: 0 10px;
    grid-row: 2;
    grid-column: 1;
    width: calc(100dvw - 20px);
}

.main__error {
    display: none;
    color: var(--accent);
    line-height: 1.5rem;
    text-align: center;
    font-size: 1rem;
    min-width: 320px;
    max-width: 420px;
    margin: 3dvh auto 0;
}

.main__error.is-active {
    display: block;
}

@media screen and (min-width: 809px)  {
    .main__error {
        font-size: 1.125rem;
    }
    
    @media (orientation: portrait) or (hover: hover) {
        .app {
            grid-template-rows: 98px calc(100dvh - 98px);
        }
    }
}

@media screen and (min-width: 1225px) {
    .app {
        grid-template-columns: 430px 1fr;
        grid-template-rows: 110px calc(100dvh - 110px);
    }

    .main {
        grid-column: 2;
        width: auto;
    }

    @media (hover: hover) and (max-height: 720px) and (max-width: 1545px) {
        .app {
            grid-template-columns: 350px 1fr;
            grid-template-rows: 104px calc(100dvh - 104px);
        }
    }    
}

@media screen and (hover: hover) and (min-height: 720px),
screen and (hover: hover) and (min-width: 1545px) {
    .app {
        grid-template-rows: 115px calc(100dvh - 115px);
    }
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 1079px) {
    .main {
        height: auto;
    }

    .app {
        grid-template-rows: 109px calc(200dvh - 109px);
        height: 200dvh;
    }
}

@media screen and (orientation: landscape) and (hover: none) and (min-width: 1079px) and (max-width: 1225px) {
    .app {
        grid-template-rows: 100px calc(100dvh - 100px);
    }
}