/* ===== GAME PRICE ================================================================= */

/* .game-price {
    width: calc(100% + 8px);
    display: flex;
    justify-content: space-between;
    font-size: .9375rem;
    margin: 0 -4px;
} */
.game-price {
    display: flex;
    justify-content: space-between;
    margin: 15px -10px 0;
    width: calc(100% + 20px);
    font-size: .9375rem;
    font-family: var(--unbounded);
}

/* .btn--price {
    font-size: .75rem;
    margin: 0 -5px;
    display: flex;
    align-items: flex-end;
    padding: 1px 2px 3px;
    border-radius: 4px;
    border: 1px solid;
    min-width: 45px;
    justify-content: space-evenly;
    color: #b8cbcbdb;
    border-color: #000;
    background-color: #010e257d;
} */

.btn--price {
    font-size: .596rem;
    margin: 0 -5px;
    display: flex;
    align-items: center;
    padding: 5px 2px;
    min-width: 48px;
    justify-content: space-evenly;
    color: #b8cbcbdb;
    border-color: #000;
    background-color: #010e257d;
    font-family: var(--unbounded);
}

.btn--price.btn--loose {
    color: var(--bronze);
    border-color: var(--bronze);
    background-color: #002939;
    z-index: 10;
}

.btn--price.btn--cib {
    color: var(--silver);
    border-color: var(--silver);
    background-color: #002939;
    z-index: 10;
}

.btn--price.btn--newg {
    color: var(--gold);
    border-color: var(--gold);
    background-color: #002939;
    z-index: 10;
}

/* .game__icon {
    width: 13px;
    height: 13px;
    margin-bottom: 1px;
    margin-left: 2px;
    filter: var(--filter-fallback);
} */

.game__icon {
    width: 13px;
    height: 13px;
    filter: var(--filter-fallback);
}

.game__icon--loose {
    filter: var(--filter-bronze);
}

.game__icon--cib {
    filter: var(--filter-silver);
}

.game__icon--newg {
    filter: var(--filter-gold);
}

/* .usd {
    position: relative;
    margin-left: 2px;
    top: -2px;
    font-size: .5rem;
} */

.usd {
    position: relative;
    top: -1px;
    margin-left: 2px;
    font-size: .5rem;
}

.game-price--value {
    margin: 0;
}

/* .btn--price.btn--value {
    margin: auto 0;
    padding: 4px 6px 5px;
    font-family: var(--unbounded);
} */

.btn--price.btn--value {
    margin: auto 0;
    padding: 6px 6px 8px 6px;
    cursor: default;
}

/* .game__icon--value {
    margin: 0 3px 1px 0;
} */

.game-price__total {
    font-size: .875rem;
    display: flex;
    align-items: center;
}

/* .game-price__total-label {
    margin-right: 2px;
} */

.game-price__total-label {
    margin-right: 4px;
}

/* .usd--total {
    top: 1px;
} */

.usd--value {
    top: 0;
}

/* ––——– GAME PRICE —— MEDIA QUERIES ——–––––––––––––———————————————————————————————— */

@media screen and (orientation:portrait) and (hover: none) and (max-width: 809px) {
    /* .btn--price.btn--value {
        font-size: .625rem;
        padding: 5px 2px 6px;
    } */

    .btn--price.btn--value {
        font-size: .625rem;
    }

/*     .usd--value {
        top: -1px;
    } */

/*     .game-price__total {
        font-size: .75rem;
    } */

/*     .game__icon--value {
        margin: 0 1px 0 3px;
    } */
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 843px) {
    .btn--price.btn--value {
        font-size: .625rem;
        padding: 5px 2px 6px;
    }

    .usd--value {
        top: -1px;
    }

    .game-price__total {
        font-size: .75rem;
    }

    .game__icon--value {
        display: none;
    }
}

@media screen and (min-width: 1365px) {
    .game-price {
        width: 100%;
        margin: 0;
    }

    .usd {
        font-size: .625rem;
    } 

/* –––––––––––– INITIAL ——–––––––––— */

    .game-price .btn {
        padding: 0 2px 2px;
        font-size: .9375rem;
        min-width: 50px;
    }

    .game__icon {
        margin-bottom: 3px;
    }
}