.game-list {
    display: grid;
    grid-gap: 70px 25px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill,130px);
    width: calc(100dvw - 50px);
    height: calc(100% - 15px);
    margin: 0;
    padding: 15px 15px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #5b718486 #6e6e6e86;
    overscroll-behavior: none;
}  

@media screen and (min-width: 389px) and (max-width: 1279px) and ((orientation: portrait) or (hover: hover)) {
    .game-list {
        padding: 15px 24px 0;
        width: calc(100dvw - 68px);
    }

    @media (min-width: 427px) and (max-width: 809px) {
        .game-list {
            padding: 15px 36px 0;
            width: calc(100dvw - 92px);
        }

        .game-list.game-list--4_12 {
            height: auto;
            gap-y: 100px 25px;
        }
    }
}

@media screen and (orientation: landscape) and (hover: none) and (min-width: 1079px) {
    .game-list {
        padding: 15px 24px 0;
        width: calc(100dvw - 68px);
    }
}

@media screen and (min-width: 1023px) {
    .game-list.game-list--6_30 {
        height: auto;
        gap-y: 100px 25px;
    }
}

@media screen and (min-width: 1279px) {
    .game-list {
        width: auto;
        height: calc(100% - 30px);
        padding: 30px 14px 0;
    }

    .game-list.game-list--5_10 {
        height: auto;
        gap-y: 100px 25px;
    }
}

@media screen and (min-width: 1365px) {
    .game-list {
		grid-template-columns: repeat(auto-fill, 200px);
    }

    .game-list.game-list--4_8 {
        height: auto;
        gap-y: 100px 25px;
    }
}