.game {
    box-shadow: 3px 3px 15px rgba(0,0,0,.4);
    height: 181px;
    list-style: none;
    margin: 0;
    max-width: 126px;
    min-width: 126px;
    position: relative;
    border-radius: 6px;
    border: 2px solid;
    border-color: transparent;
}

.game--loose {
    border-color: var(--bronze);
}

.game--cib {
    border-color: var(--silver);
}

.game--newg {
    border-color: var(--gold);
}

.game:last-child {
    margin-bottom: 62px;
}

.game-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    transition: opacity .2s cubic-bezier(.46,.03,.52,.96);
    grid-template-columns: 26px 1fr 26px;
    grid-template-rows: 1fr 26px 18px 26px 5px 26px 17px 26px 1fr;
    position: relative;
    z-index: 30;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.game-buttons:hover {
    opacity: 1;
}

.btn-sm, 
.icon {
    width: 22px;
    height: 22px;
}

.icon {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.game .icon {
    padding: 3px;
    background: #0008;
    border-radius: 9999px;
    width: 22px;
    height: 22px;
}

.btn-sm {
    width: 26px;
    height: 26px;
    border: none;
    position:relative;
    justify-self: center;
    background-color: transparent;
}

.btn-sm.btn-wish,
.btn-sm.btn-play {
    margin-right: -26px;
}

.btn-sm.btn-info,
.btn-sm.btn-delete {
    margin-left: -26px;
}

.btn-sm.btn-wish {
    grid-column: 3;
    grid-row: 2;
}

.btn-sm.btn-play {
    grid-column: 3;
    grid-row: 4;
}

.btn-sm.btn-info {
    grid-column: 1;
    grid-row: 6;
}

.btn-sm.btn-delete {
    grid-column: 1;
    grid-row: 8;
}

.game-rating {
    border: none;
    width: 30px;
    text-align: right;
    margin-right: 2px;
}

.game__cover-img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
    bottom: 0;
    filter: sepia(12%) brightness(97%) saturate(85%) contrast(97%) invert(4%);
    border-radius: 6px;
    max-height: 181px;
    height: 92%;
}

.game__cover-overlay {
    width: 100%;
    position: absolute;
    border-radius: 6px 6px 0 0;
}

.game__status {
    visibility: hidden;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 6px 0;
    border: 2px solid transparent;
    border-radius: 9999px;
    padding: 3px;
    z-index: -10;
    cursor: pointer;
}

.game__status.--wish {
    border-color: #f9ab1e;
}

.game__status.--play {
    border-color: #1e90ff;
}

.game.--wish .game__status.--wish,
.game.--play .game__status.--play {
    visibility: visible;
    background: #0008;
}

.delete-p {
    position: absolute;
    background: #230505d1;
    opacity: 0;
    transition: opacity .1s cubic-bezier(.46,.03,.52,.96);
    font-size: .75rem;
    padding: 110px 0 0 15px;
    height: calc(100% - 110px);
    width: calc(100% - 15px);
    top: 13px;
    left: 13px;
    margin: -13px;
    border-radius: 6px;
    cursor: default;
}

.game-buttons.is-active, 
.delete-p.is-active {
    opacity: 1;
}

.game__status-container {
    position: absolute;
    top: 11px;
    right: -17px;
    z-index: 10;
    display: grid;
}

.game__status-container.is-active {
    z-index: 40;
}

@media screen and (min-width: 1365px) {
    .game {
        box-shadow: 5px 5px 15px rgba(0,0,0,.4);
        height: 226px;
        max-width: 160px;
        margin: 0 18px;
    }

    .game__cover-img {
        max-height: 226px;
    }

    .game:nth-child(2n) {
        box-shadow: -5px 5px 15px rgba(0,0,0,.4);
    }
    
    .btn-sm.btn-info,
    .btn-sm.btn-delete {
        margin-left: -34px;
    }

    .game__status-container {
        top: 17px;
    }

    .game-buttons {
        grid-template-rows: 1fr 26px 18px 26px 1.5fr 26px 18px 26px 1fr;
        opacity: 0;
    }

    .delete-p {
        font-size: .875rem;
        padding: 145px 0 0 24px;
        height: calc(100% - 145px);
        width: calc(100% - 24px);
    } 
}