.game-list {
    display: grid;
    grid-gap: 70px 30px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 130px);
    width: calc(100dvw - 50px);
    height: calc(100% - 15px);
    margin: 0;
    padding: 15px 15px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #6c7f97 var(--btn-bg);
}

.game-list::-webkit-scrollbar-track {
    margin-block: 30px;
}

@media screen and (min-width: 389px) and (max-width: 1225px) and (orientation: portrait) and (hover: hover) {
    .game-list {
        padding: 15px 24px 0;
        width: calc(100dvw - 68px);
    }
}

@media screen and (min-width: 427px) and (max-width: 809px) {
    .game-list {
        padding: 15px 36px 0;
        width: calc(100dvw - 92px);
    }
}

@media screen and (orientation: landscape) and (hover: none) and (min-width: 1079px) {
    .game-list {
        padding: 15px 24px 0;
        width: calc(100dvw - 68px);
    }
}

@media screen and (min-width: 1225px) {
    .game-list {
        width: auto;
        height: calc(100% - 30px);
    }
}

@media screen and (hover: hover) and (max-width: 1545px) and (max-height: 870px) {
    .game-list {
        padding: 30px 5px 0 25px;
    }
}

@media screen and (hover: hover) and (max-width: 1545px) and (max-height: 720px) {
    .game-list {
        height: calc(100% - 15px);
        padding: 15px 5px 0 25px;
    }
}

@media screen and (hover: hover) and (min-height: 870px),
screen and (min-width: 1545px) {
    .game-list {
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 70px 25px;
        height: calc(100% - 15px);
    }
}

@media screen and (min-width: 500px) and (max-width: 1023px) and (max-height: 900px) {
    .game-list.game-list--8 {
        height: auto;
        overflow-y: hidden;
    }
}

@media screen and (min-width: 1023px) and (hover: none) {
    .game-list.game-list--24 {
        height: auto;
        overflow-y: hidden;
    }
}

@media screen and (min-width: 1225px) and (max-width: 1365px),
screen and (min-width: 1225px) and (hover: hover) and (min-height: 720px) {
    .game-list.game-list--10 {
        height: auto;
        overflow-y: hidden;
    }
}

@media screen and (min-width: 1365px) and (max-width: 1545px) and (max-height: 720px),
screen and (min-width: 1865px) {
    .game-list.game-list--12 {
        height: auto;
        overflow-y: hidden;
    }
}
