.game-price {
    display: flex;
    justify-content: space-between;
    margin: 15px -10px 0;
    width: calc(100% + 20px);
    font-size: .9375rem;
    font-family: var(--unbounded);
}

.game-price__btn {
    font-size: .596rem;
    margin: 0 -5px;
    display: flex;
    align-items: center;
    padding: 5px 2px;
    min-width: 48px;
    justify-content: space-evenly;
    color: #b8cbcbdb;
    border-color: #000;
    background-color: #010e257d;
    font-family: var(--unbounded);
}

.game-price__btn:nth-child(1):hover {
    border-color: var(--bronze);
}

.game-price__btn.game-price__btn--loose {
    color: var(--bronze);
    border-color: var(--bronze);
    background-color: #002939;
    z-index: 10;
}

.game-price__btn:nth-child(2):hover {
    border-color: var(--silver);
}

.game-price__btn.game-price__btn--cib {
    color: var(--silver);
    border-color: var(--silver);
    background-color: #002939;
    z-index: 10;
}

.game-price__btn:nth-child(3):hover {
    border-color: var(--gold);
}

.game-price__btn.game-price__btn--newg {
    color: var(--gold);
    border-color: var(--gold);
    background-color: #002939;
    z-index: 10;
}

.game-price__icon {
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
    filter: var(--filter-fallback);
}

.game-price__icon--loose {
    filter: var(--filter-bronze);
}

.game-price__icon--cib {
    filter: var(--filter-silver);
}

.game-price__icon--newg {
    filter: var(--filter-gold);
}

.game-price__usd {
    position: relative;
    top: -1px;
    margin-left: 2px;
    font-size: .5rem;
}

.game-price--value {
    margin: 0;
}

.game-price__btn.game-price__btn--value {
    margin: auto 0;
    padding: 6px 6px 8px;
    cursor: default;
    font-size: .625rem;
}

.game-price__total {
    font-size: .875rem;
    display: flex;
    align-items: center;
}

.game-price__total-label {
    margin-right: 4px;
}

.game-price__usd--value {
    top: 0;
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 843px) {
    .game-price__btn.game-price__btn--value {
        padding: 5px 2px 6px;
    }

    .game-price__usd {
        top: 0;
    }

    .game-price__total {
        font-size: .75rem;
    }

    .game-price__icon--value {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .game-price__icon {
        width: 13px;
        height: 13px;
    }
}

@media screen and (min-width: 1365px) {
    .game-price__usd {
        font-size: .5625rem;
    } 

    .game-price__usd--value {
        top: -1px;
    } 

    .game-price__btn {
        font-size: .6875rem;
        min-width: 58px;
    }

    .game-price__btn.game-price__btn--value {
        font-size: .6875rem;
        padding: 7px 6px;
    }

    .game-price__total {
        font-size: .91rem;
    }
}