.info {
	background: linear-gradient(to bottom, transparent, #203a43 160%);
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	flex-direction: column;
	grid-column: 1;
	grid-row: 1 / span 2;
	width: 0;
	/* left: -25px; */
	left: 0;
	font-family: "Didact Gothic";
	transition: left .125s ease, 1s width .125s cubic-bezier(.46,.03,.52,.96);
}

.info.--active {
	width: 100dvw;
	background: linear-gradient(to bottom, transparent, #203a43 51%);
}

.info-img-wrapper {
	box-shadow: 0 -30px 14px -10px #203a43 inset;
	width: 100%;
	height: 50dvh;
	position: absolute;
	top: 0;
}

.info-bg-img {
	left: -10%;
	z-index: -10;
	top: -10px;
	filter: contrast(85%) brightness(110%) saturate(75%) sepia(22%) blur(1px);
	height: 50dvh;
	position: absolute;
}

.info-bg-div {
	left: 0;
	z-index: -20;
	top: 0;
	height: 50dvh;
	position: absolute;
	background-color: #1c3940;
	width: 100%;
}

.info-wrapper {
	width: calc(100% - 50px);
	padding: 25px;
	height: calc(100% - 50px);
	display: grid;
	align-content: space-between;
	position: relative;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, #0008 40%);
	font-size: .875rem;
}

.list-item.info-cover-container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.info-title {
	margin: 1rem 0 -.5rem 0;
	height: fit-content;
	text-align: center;
	font-weight: 600;
	font-size: 1.0625rem;
	text-wrap: balance;
}

.info-subtitle {
	margin: 0;
	text-align: center;
	font-size: .875rem;
	font-weight: 400;
}

.info-flags {
	display: flex;
	justify-content: space-around;
}

.info-flags .flag {
	color: var(--accent);
	border-radius: 4px;
	padding: 4px 8px;
	background-color: #47819eb8;
	transition: filter .1s cubic-bezier(.46,.03,.52,.96), border-color .1s cubic-bezier(.46,.03,.52,.96);
	box-shadow: 0px 0px 4px transparent;
	width: 93px;
	margin: 0;
	border-color: #f5f8ff3d;
	border-width: 1px;
	border-style: outset;
	height: min-content;
	filter: grayscale(100%) brightness(70%) contrast(180%);
}

.info .icon {
	width: 14px;
	height: 14px;
	position: relative;
	top: 1px;
	margin-right: 4px;
}

.info-flags .rating {
	background: transparent;
	width: 93px;
	margin: 0;
	height: min-content;
	border: none;
	color: var(--accent);
	font-weight: 600;
	font-size: 1.25rem;
}

.info-title,
.info-flags .rating,
.info-category-title {
	font-family: "Unbounded";
}

.info-category {
	margin: 5px 0;
	padding-right: 50px;
}

.info-category-title {
	margin: 0;
	font-size: 1rem;
}

.info-category-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem 1rem;
	margin-top: 0.25rem;
}

.info a {
	color: var(--accent);
	text-decoration: none;
}

.info-age-rating-container {
	display: grid;
	padding: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
	justify-content: flex-end;
	gap: 0.5rem;
}

.info-age-rating-container.--active {
	scale: 1.625;
	padding: 52px 36px;
}

.info-bg-age {
	width: 35px;
	border-radius: 6px;
	padding: 3px;
	justify-self: center;
}

.info-description {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 12rem;
	margin-top: 0.5rem;
	min-width: calc(100dvw - 50px);
}

.flag.--active {
	filter: none;
}

.rating {
	font-family: "Unbounded";
	font-size: .875rem;
	cursor: default;
} 

.rating-label {
	opacity: 0;
	transition: opacity .1s cubic-bezier(.46,.03,.52,.96);
	margin: 0 0 0 -.25rem;
	font-size: .875rem;
	width: 0;
}

.rating:hover + .rating-label {
	opacity: 1;
}

.info-subtitle-wrapper {
	display: flex;
	justify-content: center;
	gap: .75rem;
	align-items: center;
	height: fit-content;
	margin: 0.5rem 0 0 .5rem;
}

.info .btn.btn-menu {
	right: 0;
	position: absolute;
	top: .25rem;
	padding: 4px 8px;
	margin: 12px 20px;
	background: var(--dark);
}

@media screen and (max-width: 1365px) {
	.info.--active {
		position: absolute;
		z-index: 60;
		/* left: 0; */
	}
}

@media screen and (min-width: 389px) {
	.info-description {
		-webkit-line-clamp: 9;
		max-height: 12rem;
	}

	.info-title {
		font-size: 1.25rem;
	}

	.info-subtitle-wrapper {
		margin: 0 0 0 .5rem;
	}

	.info-category-title {
		font-size: 1.125rem;
	}

	.info-subtitle,
	.rating {
		font-size: 1rem;
	}

	.info-title {
		font-size: 1.375rem;
	}

	.info-category-title {
		font-size: 1.25rem;
	}

	.info-bg-age {
		width: 40px;
	}

	.info-age-rating-container {
		padding: 40px;
	}

	.info-description {
		min-width: calc(390px - 70px);
	}
	
	.info-wrapper {
		width: calc(100% - 70px);
		padding: 35px;
		height: calc(100% - 70px);
		font-size: 1rem;
	}
}

@media screen and (min-width: 427px) and (max-width: 809px) {
	.info-description {
		min-width: calc(429px - 70px);
		-webkit-line-clamp: 11;
		max-height: 15rem;
	}

	.info-img-wrapper,
	.info-bg-img,
	.info-bg-div {
		height: 43dvh;
	}
}

@media screen and (min-width: 560px) and (max-width: 1365px) {
	.info-bg-img {
		height: 47dvh;
		left: 0;
		width: 100%;
		object-fit: cover;
	}
}

@media screen and (max-width: 809px) {
	#controls-title {
		margin-top: .9375rem;
	}
}

@media screen and (min-width: 809px) and (max-width: 1365px) and ((orientation: portrait) or (hover: hover)) {
	.info {
		z-index: 60;
	}

	.info.--active {
		background: linear-gradient(to bottom, transparent, #203a43 42%);
	}

	.info-wrapper {
		max-height: 48dvh;
		background: transparent;
		bottom: 0;
		position: absolute;
		grid-template-columns: 1.5fr 1fr;
		min-width: 600px;
	}

	.info-tablet-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100dvw;
		height: 100dvh;
		background: linear-gradient(to bottom, transparent, #0008 40%);
	}

	.info-img-wrapper {
		height: 47dvh;
	}

	.list-item.info-cover-container {
		grid-column: 1;
		grid-row: 1 / span 3;
	}

	.info-title {
		grid-column: 1;
		grid-row: 4;
		padding: 0 70px;
		margin-bottom: 0.25rem;
		min-width: 320px;
	}

	.info-subtitle-wrapper {
		grid-column: 1;
		grid-row: 5;
	}

	.info-description {
		grid-row: 7;
		grid-column: 1 / span 2;
		padding: 0 70px;
		min-width: 600px;
		-webkit-line-clamp: 7;
	}

	.info-category {
		grid-column: 2;
		min-width: 230px;
	}

	.info-category.developer,
	.info-category.publisher {
		grid-row: 1;
	}

	.info-category.genres {
		grid-row: 2;
	}

	.info-category.links {
		grid-row: 3;
	}

	.info-age-rating-container {
		grid-column: 2;
		position: relative;
		flex-direction: row-reverse;
		display: flex;
		padding: 0;
		grid-row: 4 / span 2;
		align-self: center;
	}

	.info-bg-age {
		width: auto;
		height: 65px;
	}

	.info .btn.btn-menu {
		top: 46dvh;
		right: 2.5dvw;
		opacity: 0;
		transition: .5s opacity cubic-bezier(.46,.03,.52,.96);
	}

	.info.--active .btn.btn-menu {
		opacity: 1;
		transition: .5s opacity .625s cubic-bezier(.46,.03,.52,.96);
	}
}

@media screen and (min-width: 1023px) and (max-width: 1365px) and ((orientation: portrait) or (hover: hover)) {	
	.info-wrapper {
		min-width: 60dvw;
		padding: 35px 20dvw;
		width: 60dvw;
	}

	.info-description {
		min-width: 614px;
		padding: 0px 25px;
	}

	.info-title {
		min-width: 368px;
	}

	.info-category {
		min-width: 245px;
		padding-right: 0;
	}
	/* .info-wrapper {
		font-size: 1.375rem;
	}

	.info-title {
		font-size: 1.875rem;
	}

	.info-subtitle, .rating {
		font-size: 1.375rem;
	}

	.info-category-title {
		font-size: 1.5rem;
	} */

	.info .btn.btn-menu {
		top: 47.25dvh;
	}

	.list {
		min-width: 940px;
	}

	.info-description {
		min-width: 814px;
		-webkit-line-clamp: 6;
	}

	.info-title {
		min-width: 432px;
	}

	.info-category {
		min-width: 332px;
	}

	.info-wrapper {
		min-width: 954px;
	}

	/* .rating.btn {
		padding: 7px 15px;
	} */
}

@media screen and (min-width: 1365px) {
	.info {
		left: 0;
		border-right: 1px solid #867fa6b5;
		width: 429px;
	}

	.info.--active {
		width: 429px;
	}

	.info .btn.btn-menu {
		display: none;
	}
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 1079px) {
	.info {
		height: 210dvh;
	}

	.info-img-wrapper {
		height: 101dvh;
	}

	.info-bg-img,
	.info-bg-div {
		height: 103dvh;
	}

	.info-subtitle-wrapper {
		margin-top: 1rem;
	}

	.info-description {
		min-width: calc(640px - 70px);
		max-height: 11rem;
  		-webkit-line-clamp: 8;
		margin-top: 3rem;
	}

	@media (min-width: 843px) and (max-width: 1079px) {
		.info-description {
			min-width: calc(844px - 70px);
		}
	}
}

@media screen and (orientation: landscape) and (hover: none) and (min-width: 1079px) and (max-width: 1365px) {
	.info-img-wrapper {
		height: 47dvh;
	}

	.info-wrapper {
		width: 55%;
		padding: 35px 22.5%;
	}

	.info-subtitle-wrapper {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.info-description {
		-webkit-line-clamp: 8;
		max-height: 11rem;
		min-width: 594px;
	}

	.info-age-rating-container {
		padding: 0;
		bottom: 40px;
		right: 22.5%;
	}

	@media (min-width: 843px) and (max-width: 1023px) {
		.info-description {
			min-width: calc(844px - 70px);
		}
	}
}



/* 
iPAD PRO - 1024px <= 1365px

	.info-wrapper {
		min-width: 60dvw;
		padding: 35px 20dvw;
		width: 60dvw;
	}

	.info-description {
		min-width: 614px;
		padding: 0px 25px;
	}

	.info-title {
		min-width: 368px;
	}

	.info-category {
		min-width: 245px;
		padding-right: 0;
	}
	 */