.list {
    grid-gap: 78px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,130px);
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
    overflow-y: scroll;
    padding: 12px 0 0;
    scrollbar-color: #5b718486 #6e6e6e86;
}  

@media screen and (min-width: 809px) {
    .list {
		grid-template-columns: repeat(auto-fill, 200px);
		grid-gap: 78px 15px;
	}
}

@media screen and (min-width: 1181px) {
    .list {
        justify-content: space-between;
    }
}