.list-item {
    box-shadow: 3px 3px 15px rgba(0,0,0,.4);
    height: 181px;
    list-style: none;
    margin: 0;
    max-width: 130px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 6px;
}

.list-item:nth-child(2n) {
    box-shadow: -3px 3px 15px rgba(0,0,0,.4);
}

.list-item:last-child {
    margin-bottom: 68px;
}

.list-item-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    transition: opacity .2s cubic-bezier(.46,.03,.52,.96);
    grid-template-columns: 26px 1fr 26px;
    grid-template-rows: 1fr 26px 18px 26px 5px 26px 17px 26px 1fr;
    position: relative;
    z-index: 30;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.list-item-buttons:hover {
    opacity: 1;
}

.btn-sm, 
.icon {
    width: 22px;
    height: 22px;
}

.icon {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.list-item .icon {
    padding: 3px;
    background: #0008;
    border-radius: 9999px;
    width: 22px;
    height: 22px;
}

.btn-sm {
    width: 26px;
    height: 26px;
    border: none;
    position:relative;
    justify-self: center;
    background-color: transparent;
}

.btn-sm.btn-wish,
.btn-sm.btn-play {
    margin-right: -26px;
}

.btn-sm.btn-info,
.btn-sm.btn-delete {
    margin-left: -26px;
}

.btn-sm.btn-wish {
    grid-column: 3;
    grid-row: 2;
}

.btn-sm.btn-play {
    grid-column: 3;
    grid-row: 4;
}

.btn-sm.btn-info {
    grid-column: 1;
    grid-row: 6;
}

.btn-sm.btn-delete {
    grid-column: 1;
    grid-row: 8;
}

.list-item-data {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    z-index: 10;
    font-size: .9375rem;
    margin: 0;
    position: relative;
    bottom: 0;
}

.list-item-rating {
    border: none;
    width: 30px;
    text-align: right;
    margin-right: 2px;
}

.img-cover {
    width: 100%;
    position: absolute;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
    bottom: 0;
    filter: sepia(12%) brightness(97%) saturate(85%) contrast(97%) invert(4%);
    border-radius: 6px;
    max-height: 181px;
    height: 92%;
}

.img-overlay {
    width: 100%;
    position: absolute;
    border-radius: 6px 6px 0 0;
}

.status-icon {
    visibility: hidden;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 6px 0;
    border: 2px solid transparent;
    border-radius: 9999px;
    padding: 3px;
    z-index: -10;
    cursor: pointer;
}

.list-item.wish img.wish,
.list-item.play img.play {
    visibility: visible;
    background: #0008;
}

.list-item.wish img.wish {
    border-color: #f9ab1e;
}

.list-item.play img.play {
    border-color: #1e90ff;
}

.delete-p {
    position: absolute;
    background: #230505d1;
    font-family: "Didact Gothic";
    opacity: 0;
    transition: opacity .1s cubic-bezier(.46,.03,.52,.96);
    font-size: .75rem;
    padding: 110px 0 0 15px;
    height: calc(100% - 110px);
    width: calc(100% - 15px);
    top: 13px;
    left: 13px;
    margin: -13px;
    border-radius: 6px;
    cursor: default;
}

.list-item-buttons.--active, 
.delete-p.--active {
    opacity: 1;
}

.list-item-status-container {
    position: absolute;
    top: 11px;
    right: -17px;
    z-index: 10;
    display: grid;
}

.list-item-status-container.--active {
    z-index: 40;
}

.list-item-price {
    width: calc(100% + 8px);
    display: flex;
    justify-content: space-between;
    font-size: .9375rem;
    margin: 0 -4px;
}

.list-item-price .btn {
    font-size: .75rem;
    margin: 0 -5px;
    display: flex;
    align-items: flex-end;
    padding: 1px 2px 3px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    background: #010e257d;
    color: #b8cbcbdb;
    border-color: #000;
    min-width: 45px;
    justify-content: space-evenly;
}

.cd-icon {
    filter: invert(75%) sepia(9%) saturate(389%) hue-rotate(140deg) brightness(91%) contrast(91%);
    width: 9px;
    height: 9px;
    margin-bottom: 3px;
    margin-left: 2px;
}

.list-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0;
}

.usd {
    position: relative;
    margin: 0 1px 0 2px;
    top: -1px;
    font-size: .5rem;
}

.btn.btn-loose.--active, 
.btn.btn-cib.--active, 
.btn.btn-newg.--active {
    background-color: #002939;
}

.btn.btn-loose.--active, 
.list-item.--loose {
    border-color: var(--bronze);
}

.btn.btn-cib.--active, 
.list-item.--cib {
    border-color: var(--silver);
}

.btn.btn-newg.--active, 
.list-item.--newg {
    border-color: var(--gold);
}

.btn.btn-loose.--active {
    color: var(--bronze);
}

.btn.btn-cib.--active {
    color: var(--silver);
}

.btn.btn-newg.--active {
    color: var(--gold);
}

.btn.btn-loose.--active .cd-icon {
    filter: invert(81%) sepia(76%) saturate(3751%) hue-rotate(313deg) brightness(97%) contrast(98%);
}

.btn.btn-cib.--active .cd-icon {
    filter: invert(100%) sepia(11%) saturate(3879%) hue-rotate(176deg) brightness(100%) contrast(105%);
}

.btn.btn-newg.--active .cd-icon {
    filter: invert(89%) sepia(59%) saturate(3802%) hue-rotate(313deg) brightness(108%) contrast(98%);
}


/* ––——– MEDIA QUERIES ——–––––––––––––———————————————————————————————————————————— */


@media screen and (min-width: 1365px) {
    .list-item {
        box-shadow: 5px 5px 15px rgba(0,0,0,.4);
        height: 226px;
        max-width:160px;
        margin: 0 18px;
    }

    .img-cover {
        max-height: 226px;
    }

    .list-item:nth-child(2n) {
        box-shadow: -5px 5px 15px rgba(0,0,0,.4);
    }

    .list-item-data {
        font-size: 1rem;
    }
    
    .btn-sm.btn-info,
    .btn-sm.btn-delete {
        margin-left: -34px;
    }

    .list-item-status-container {
        top: 17px;
    }

    .list-item-buttons {
        grid-template-rows: 1fr 26px 18px 26px 1.5fr 26px 18px 26px 1fr;
        opacity: 0;
    }

    .list-item-buttons:hover {
        opacity: 1;
    }

    .delete-p {
        font-size: .875rem;
        padding: 145px 0 0 24px;
        height: calc(100% - 145px);
        width: calc(100% - 24px);
    } 

    .list-item-price {
        width: 100%;
        margin: 0;
    }

    .list-item-price .btn {
        padding: 0 2px 2px;
        font-size: .9375rem;
        min-width: 50px;
    }

    .usd {
        font-size: .625rem;
    }

    .cd-icon {
        width: 12px;
        height: 12px;
    }    
}