/* ===== LIST ================================================================= */

.list {
    display: grid;
    grid-gap: 78px 25px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill,130px);
    min-width: calc(100dvw - 48px);
    height: 100%;
    margin: 0;
    padding: 0 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #5b718486 #6e6e6e86;
}  

/* ––——– LIST –– MEDIA QUERIES ——–––––––––––––—————————————————————————————————— */

@media screen and (min-width: 389px) and (max-width: 1365px) and ((orientation: portrait) or (hover: hover)) {
    .list {
        padding: 0 24px;
        min-width: calc(100dvw - 68px);
    }

    @media (min-width: 427px) and (max-width: 809px) {
        .list {
            padding: 0 36px;
            min-width: calc(100dvw - 92px);
        }
    }
}


@media screen and (orientation: landscape) and (hover: none) {
    .list {
        grid-gap: 78px 24px;
    }

    @media (min-width: 1079px) {
        .list {
            padding: 0 24px;
            min-width: calc(100dvw - 68px);
        }
    }
}

@media screen and (min-width: 1365px) {
    .list {
		grid-template-columns: repeat(auto-fill, 200px);
		grid-gap: 78px 15px;
        min-width: auto;
        padding: 0 14px;
    }
}