.loader-container {
	display: grid;
	place-items: center;
	min-width: 100%; 
	min-height: 100%;
	position: absolute;
	bottom: 0;
	z-index: -10;
	opacity: 0;
}

.loader-container.--active {
	opacity: 1;
	transition: 1s opacity .75s cubic-bezier(.46,.03,.52,.96);
}

.loader-gif {
    top: -2rem;
    position: relative;
	animation: 1.5s fade-in cubic-bezier(.46,.03,.52,.96) forwards;
}

.welcome-wrapper .loader {
    display: none;
}

.loader {
	width: 36px;
	height: 36px;
	display: inline-block;
	position: relative;
	transform: rotate(45deg);
}

.loader::before {
	content: '';  
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: -18px;
	animation: loader 4s ease infinite;
}

.loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	animation: loader--2 2s ease infinite;
}

@keyframes loader {
	0% {
		box-shadow: 0 18px rgba(255, 255, 255, 0), 18px 18px rgba(255, 255, 255, 0), 18px 36px rgba(255, 255, 255, 0), 0px 36px rgba(255, 255, 255, 0);
	}
	12% {
		box-shadow: 0 18px white, 18px 18px rgba(255, 255, 255, 0), 18px 36px rgba(255, 255, 255, 0), 0px 36px rgba(255, 255, 255, 0);
	}
	25% {
		box-shadow: 0 18px white, 18px 18px white, 18px 36px rgba(255, 255, 255, 0), 0px 36px rgba(255, 255, 255, 0);
	}
	37% {
		box-shadow: 0 18px white, 18px 18px white, 18px 36px white, 0px 36px rgba(255, 255, 255, 0);
	}
	50% {
		box-shadow: 0 18px white, 18px 18px white, 18px 36px white, 0px 36px white;
	}
	62% {
		box-shadow: 0 18px rgba(255, 255, 255, 0), 18px 18px white, 18px 36px white, 0px 36px white;
	}
	75% {
		box-shadow: 0 18px rgba(255, 255, 255, 0), 18px 18px rgba(255, 255, 255, 0), 18px 36px white, 0px 36px white;
	}
	87% {
		box-shadow: 0 18px rgba(255, 255, 255, 0), 18px 18px rgba(255, 255, 255, 0), 18px 36px rgba(255, 255, 255, 0), 0px 36px white;
	}
	100% {
		box-shadow: 0 18px rgba(255, 255, 255, 0), 18px 18px rgba(255, 255, 255, 0), 18px 36px rgba(255, 255, 255, 0), 0px 36px rgba(255, 255, 255, 0);
	}
}

@keyframes loader--2 {
	0% {
		transform: translate(0, 0) rotateX(0) rotateY(0);
	}
	25% {
		transform: translate(100%, 0) rotateX(0) rotateY(180deg);
	}
	50% {
		transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
	}
	75% {
		transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
	}
	100% {
		transform: translate(0, 0) rotateX(0) rotateY(360deg);
	}
}

