.loader-container {
	display: grid;
	place-items: center;
	width: 100dvw;
	height: 100dvh;
	position: absolute;
	bottom: 0;
	z-index: -10;
	opacity: 0;
}

.loader-container.--active {
	opacity: 1;
	transition: 1s opacity .75s cubic-bezier(.46,.03,.52,.96);
}

.loader-gif {
	max-width: 60dvw;
	left: 0;
    top: -2rem;
    position: relative;
	animation: 1.5s fade-in cubic-bezier(.46,.03,.52,.96) forwards;
}

.loader-error {
	opacity: 0;
	text-align: center;
	font-family: "Didact Gothic";
	position: absolute;
	bottom: 20%;
	margin: 0;
	padding: 6px 12px 8px 12px;
	border: 1px solid #c1bcda70;
	border-radius: 6px;
	background-color: #c1bcda36;
	max-width: 255px;
	transition: .3s opacity cubic-bezier(.46,.03,.52,.96);
}

.loader-error.--active {
	opacity: 1;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
	.loader-gif {
		max-width: 38dvw;
		top: .5rem;
	}

	.loader-error {
		bottom: 20px;
		right: 20px;
		max-width: 140px;
	}
}

@media screen and (min-width: 809px) {
	.loader-error {
		padding: 12px 12px 14px 12px;
		max-width: 385px;
	}

	@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
		.loader-error {
			max-width: 220px;
		}
	}
}

@media screen and (min-width: 1023px) {
	.loader-error {
		max-width: 430px;
		font-size: 1.125rem;
	}
	
	@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
		.loader-error {
			bottom: 20%;
			right: initial;
			padding: 24px 24px 26px 24px;
		}
	}
}