.loader {
	display: grid;
	place-items: center;
	width: 100dvw;
	height: 100dvh;
	position: absolute;
	bottom: 0;
	z-index: -10;
	opacity: 0;
	transition: 0.6s opacity 0.3s cubic-bezier(.46,.03,.52,.96); /* new value */
}

.loader.is-active {
	opacity: 1;
	transition: 0.3s opacity cubic-bezier(.46,.03,.52,.96);
	/*transition: 1s opacity .5s cubic-bezier(.46,.03,.52,.96);*/
}

.loader__gif {
	max-width: 60dvw;
	left: 0;
    top: -2rem;
    position: relative;
	animation: 1.5s fade-in cubic-bezier(.46,.03,.52,.96) forwards;
}

.loader__error {
	opacity: 0;
	text-align: center;
	text-wrap: balance; /* new value */
	font-family: var(--didact-gothic), sans-serif;
	position: absolute;
	bottom: 20%;
	margin: 0;
	padding: 6px 12px 8px;
	border: 1px solid #c1bcda70;
	border-radius: 6px;
	background-color: #c1bcda36;
	max-width: 190px;
	transition: .3s opacity cubic-bezier(.46,.03,.52,.96);
}

.loader__error.is-active {
	opacity: 1;
}

@media screen and (min-width: 809px) {
	.loader__error {
		padding: 12px 12px 14px;
		max-width: 400px;
	}
}

@media screen and (orientation: landscape) and (hover: none) {
	.loader__gif {
		max-width: 32dvw;
		top: .5rem;
	}

	.loader__error {
		bottom: 20px;
		right: 20px;
	}
	
	@media (max-width: 1023px) {
		.loader__error {
			max-width: 190px;
		}
	}

	@media (max-width: 666px) {
		.loader__error {
			max-width: 130px;
		}
	}
}

@media screen and (min-width: 1023px) {
	.loader__error {
		font-size: 1.125rem;
		padding: 20px 20px 22px;
	}
	
	@media (orientation: landscape) and (hover: none) {
		.loader__error {
			bottom: 15%;
			right: initial;
		}
	}
}

@media (min-width: 1225px) and (hover: hover) and (max-width: 1545px) and (max-height: 720px) {
	.loader__gif {
		max-width: 18dvw;
		top: 0;
	}

	.loader__error {
		font-size: .875rem;
		bottom: 12%;
		padding: 18px 24px 20px;
	}
}

@media screen and (max-width: 370px) {
	.loader__error {
		bottom: 12%;
	}
}