.search-panel {
    display: grid;
    grid-template-columns: 326px;
    justify-content: center;
    /* grid-template-rows: repeat(auto-fill, 42px);
    padding: 12px 0 0 0; */
    grid-template-rows: repeat(3, 42px) 60px;
    padding: 9px 0 0 0;
    margin: auto 0;
}

#search-input {
    color: var(--accent);
	background: #0f0b1596;
    border-radius: 4px;
    border: 1px solid #c1bcda70;
    width: 100%;
    padding: 0px 12px;
    font-size: 1.125rem;
    line-height: 28px;
}

.btn {
    color:var(--accent);
    border-radius: 4px;
    border: 1px solid #c1bcda70;
    padding: 3px 8px 4px 8px;
    margin: 6px 0;
	background-color: #1f182b96;
    transition: box-shadow .1s cubic-bezier(.46,.03,.52,.96), border-color .1s cubic-bezier(.46,.03,.52,.96);
    box-shadow: 0px 0px 4px transparent;
}

.btn.--active {
    border-color: #9c94be;
    box-shadow: 0px 0px 4px #c1bcda70;
}

.search-wrapper {
    display: flex;
    align-items: center;
    grid-column: 1;
    min-width: 210px;
    max-width: 370px;
    height: 42px;
    margin: 5px 0 14px;
}

.icon-search {
    display: block;
    width: 20px;
}

.mobile-title-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: .25rem;
    justify-content: space-between;
}

.mobile-title,
.mobile-progress {
    font-size: .875rem;
}

.mobile-title {
    margin: 0;
}

.mobile-progress {    
    display: flex;
    align-items: center;
    /* height: 30px;
    margin: -2px 0 9px 0; */
    padding: 6px 0 0px 0;
}

.mobile-progress p {
    display: inline-flex;
}

.mobile-progress .progress-count {
    width: 33px;
}

.mobile-progress .progress-bar--container {
    margin: 0 14px;
    width: calc(100% - 33px);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.btn-group .btn {
    white-space: nowrap;    
    font-size: .875rem;
    min-width: 98px;
}

.btn.btn-menu {
    z-index: 50;
    margin: 6px 6px 6px 0;
}

.play.btn {
    margin-left: 6px;
    margin-right: 6px;
}

.btn-group .icon {
    width: 14px;
    height: 14px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}

.search-error {
    display: none;
    color: var(--accent);
    line-height: 1.5rem;
    font-family: "Didact Gothic";
    min-width: 290px;
    text-align: center;
    font-size: 1rem;
}

.search-error.--active {
    display: block;
}

.search-btn {
    border: none;
    padding: 0;
    background: transparent;
    display: flex;
}
  
.btn:hover {
    border-color: #9c94be;
    box-shadow: 0px 0px 8px #c1bcda70;
    transition: box-shadow .1s cubic-bezier(.46,.03,.52,.96), border-color .1s cubic-bezier(.46,.03,.52,.96);
}

.search-label {
    margin-left: 10px;
    margin-right: 8px;
    font-size: .875rem;
    min-width: 60px;
    text-align: center;
    font-family: "Unbounded";
    color: var(--accent);
}

.progress-bar--container {
    border-radius: 4px;
    border: 1px solid #867fa6;
    color: var(--accent);
    background-color: transparent;
    margin: 30px 0 10px;
    height: 6px;
    position: relative;
}

.progress-bar-label {
    position: absolute;
    font-family: "Didact Gothic";
    font-size: .875rem;
    width: 114px;
    top: -22px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.progress-bar-label.played {
    width: 96px;
}

.progress-bar {
    border-radius: 4px 0 0 4px;
    background-color: var(--accent);
    width: 0%;
    height: 100%;
}

.btn.btn-about {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    z-index: 50;
    margin: 6px 6px 6px 0;
    min-width: 30px;
}

.btn-about span {
	content: "";
	background: white;
	position: absolute;
	width: 2px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	transition: all 1.125s cubic-bezier(.46,.03,.52,.96);  
}

#btn-about1 {
	top: 8px;
	height: 2px;
}

#btn-about2 {
	top : 13px;
	height: 7px;
}

.btn-about.--active #btn-about1,
.btn-about.--active #btn-about2 {
	top: 14px;
	height: 12px;
}

.btn-about.--active #btn-about1 {
	transform: translate(-50%, -50%) rotate(225deg);
}

.btn-about.--active #btn-about2 {
	transform: translate(-50%, -50%) rotate(-225deg);
}

.btn-group--aside.desktop {
    display: none;
}
 
.btn-group--aside.mobile {
    display: flex;
    z-index: 50;
    gap: 5px;
}

.btn-group--aside.mobile .btn.btn-menu, 
.btn-group--aside.mobile .btn.btn-about {
    margin: 0;
    transition: transform 1.125s ease, .825s opacity .3s ease;
}

@media screen and (min-width: 809px) and (((orientation: portrait) or (hover: hover)) or ((orientation: landscape) and (min-width: 1079px))) {
    .search-panel {
        grid-template-columns: 370px minmax(30px, 1fr) minmax(210px, 370px);
        grid-template-rows: repeat(2, 42px);
        padding: 0 36px;
        align-items: center;
    }

    #search-input {
        text-align: right;
    }

    .btn-group {
        margin-left: 0;
    }

    .search-wrapper {
        grid-column: 3;
       /*  margin: 0; */
        margin: 10px 0;
    }

    .mobile-progress {    
        grid-column: 3;
        /* margin: -5px 0 0 0; */
        height: auto;
        margin: -5px 0 5px 0;
    }

    .mobile-progress .progress-bar--container {
        width: calc(100dvw - 530px);
        min-width: 115px;
    }
    
    .search-error {
        font-size: 1.125rem;
    }

    .btn-group .btn {
        font-size: 1rem;
        min-width: 105px;
    }

    .play.btn {
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media screen and (min-width: 1365px) {
    .search-panel {
        padding: 0 44px 4px;
    }

    .mobile-progress {
        font-size: 1rem;
    }

    .mobile-title {
        font-size: 1.125rem;
    }

    .btn.btn-menu,
    .btn.btn-about {
        margin: 6px 12px 6px 0;
        z-index: 40;
    }

    .btn-group--aside .btn.btn-menu, 
    .btn-group--aside .btn.btn-about {
        min-width: 30px;
    }

    .btn-group--aside.desktop {
        display: flex;
    }

    .btn-group--aside.mobile {
        display: none;
    }

    .mobile-title-wrapper {
        justify-content: flex-start;
        gap: 12px;
    }
}

@media screen and (max-width: 809px) {
    .mobile-progress {    
        order: 1;
    }
}

@media screen and (orientation: landscape) and (hover: none) and (max-width: 1079px) {
    .mobile-progress {
        order: -1;
        /* grid-column: 3; */
    }

    .mobile-title-wrapper,
    .btn-group {
        grid-column: 3;
    }

    .search-panel {
        padding: 12px 25px;
        max-height: 88px;
        grid-template-columns: minmax(210px, 370px) minmax(28px, 1fr) 340px;
        grid-template-rows: repeat(2, 42px);
        min-width: calc(100dvw - 50px);
    }

    .search-btn,
    .search-wrapper {
        flex-direction: row-reverse;
    }

    .search-wrapper {
        grid-row: 2;
        margin: 0;
    }

    .search-label {
        margin-left: 7px;
        margin-right: 5px;
    }

    @media (max-width: 843px) {
        .search-panel {
            /* grid-template-columns: minmax(210px, 370px) minmax(12px, 1fr) 320px; */
        }
    }
}

@media screen and (orientation: landscape) and (hover: none) and (min-width: 1079px) and (max-width: 1365px) {
    .search-panel {
        /* min-width: calc(100dvw - 48px); */
    }
}

@media screen and (max-width: 1365px) {
    .btn.btn-about.--active,
    .btn.btn-about.--inactive {
        transform: translateX(35px);
    }

    .btn.btn-menu.--inactive, 
    .btn.btn-about.--inactive {
        opacity: 0;
    }

    .btn-group--aside .btn.--active {
        z-index: 70;
        background: var(--dark);
    }
}